/* COLORS */
/* FONTS */
/* BORDERS & SHADOWS */
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-feature-settings: "lnum" 1;
          font-feature-settings: "lnum" 1;
  color: #161a22;
  background: #eceff8;
  /* background: linear-gradient($color_background 0%, $color_background 40%, $color_white 100%); */
  /* FOOTER */
}

html body nav {
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 80px;
  background: #ffffff;
  font-weight: 500;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 0px 5px 10px rgba(22, 26, 34, 0.2);
          box-shadow: 0px 5px 10px rgba(22, 26, 34, 0.2);
  z-index: 5;
}

html body nav a {
  position: relative;
  margin: auto 30px;
  color: #bdc2c6;
  text-decoration: none;
}

html body nav #active {
  color: #161a22;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body nav #underline {
  position: absolute;
  left: 0;
  height: 6px;
  width: 0;
  background: #5b5ec9;
  bottom: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

html body nav #header-logo {
  position: absolute;
  left: 80px;
  width: 10%;
}

html body section {
  z-index: 2;
  position: relative;
  min-height: 100vh;
  padding-top: 200px;
}

html body section .content {
  margin: 0px 200px;
  margin-bottom: 0;
  /* GENERAL CONTENT SETTINGS */
  /* HOME-SETTINGS */
  /* ABOUT-SETTINGS */
  /* USE-CASE-SETTINGS */
  /* DOCUMENTATION-SETTINGS */
}

html body section .content .intro {
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: #bdc2c6;
}

html body section .content .home_title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 70px;
  font-weight: 700;
  color: #bdc2c6;
}

html body section .content .section_title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  font-weight: 700;
}

html body section .content .sub_title {
  margin-bottom: 80px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
}

html body section .content .call_to_action {
  font-size: 16px;
  font-weight: 700;
  width: 50%;
  text-decoration: none;
  color: #f36454;
  margin-top: 20px;
}

html body section .content .call_to_action_big {
  font-size: 28px;
  font-weight: 700;
  width: 50%;
  text-decoration: none;
  color: #f36454;
  margin-top: 20px;
}

html body section .content #home_image {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1000;
}

html body section .content #about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body section .content #about-container .about-container-item {
  width: 95%;
}

html body section .content #about-container .about-container-item #about-image {
  width: 100%;
}

html body section .content #about-container .about-container-item .about-container-item-title {
  font-size: 25px;
  font-weight: 700;
}

html body section .content #about-container .about-container-item .about-container-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

html body section .content #about-container .about-container-item .about-container-item-text a {
  color: #f36454;
  text-decoration: none;
}

html body section .content #use_case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body section .content #use_case-container .use_case-container-item {
  width: 95%;
}

html body section .content #use_case-container .use_case-container-item #use_case-image {
  width: 100%;
}

html body section .content #use_case-container .use_case-container-item .use_case-container-item-title {
  font-size: 25px;
  font-weight: 700;
}

html body section .content #use_case-container .use_case-container-item .use_case-container-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

html body section .content #use_case-container .use_case-container-item .use_case-container-item-list li {
  margin-bottom: 1%;
}

html body section .content #use_case-container .use_case-container-item .use_case-container-item-list li .mailcommittee {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #f36454;
}

html body section .content #use_case-container .use_case-container-item .use_case-container-item-list li .namecommittee {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #161a22;
}

html body section .content #documentation-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 100px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

html body section .content #documentation-container .documentation-container-item .documentation-container-item-title {
  font-weight: 700;
  font-size: 25px;
}

html body section .content #documentation-container .documentation-container-item .documentation-container-item-text {
  text-align: justify;
  line-height: 1.5;
}

html body section .content #documentation-container .documentation-container-item .documentation-container-item-link {
  font-weight: 700;
  text-decoration: none;
  color: #f36454;
}

html body footer {
  margin-top: 50px;
  background: #ffffff;
  padding: 50px 100px 50px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-items: normal;
}

html body footer .contact {
  margin-left: 50px;
}

html body footer .contact .title {
  font-size: 25px;
  font-weight: 700;
}

html body footer .contact .person {
  margin-top: 20px;
}

html body footer .contact .person .name {
  font-size: 15px;
  font-weight: 700;
}

html body footer .contact .person a {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #f36454;
}

html body footer .disclaimer {
  margin: auto;
}

html body footer .disclaimer .title {
  font-size: 25px;
  font-weight: 700;
}

html body footer .disclaimer .text {
  margin-top: 15px;
  font-size: 15px;
}

html body footer img {
  margin-left: 50px;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */