/* COLORS */
$color_background: #eceff8;
$color_light_background: #f4f7ff;
$color_text_dark: #161a22;
$color_text_light: #bdc2c6;
$color_primary_pink: #e168c8;
$color_primary_light_violett: #5b5ec9;
$color_primary_dark_violett: #3b397a;
$color_primary_orange: #f36454;
$color_white: #ffffff;
$color_positive: #72cf92;
$color_negative: #de4e4e;

/* FONTS */

/* BORDERS & SHADOWS */

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif;
    font-feature-settings: "lnum" 1;
    color: $color_text_dark;
    background: $color_background;
    /* background: linear-gradient($color_background 0%, $color_background 40%, $color_white 100%); */

    nav {
      margin: 0;
      padding: 0;
      top: 0;
      position: fixed;
      display: flex;
      justify-content: right;
      height: 80px;
      background: $color_white;
      font-weight: 500;
      width: 100%;
      font-size: 15px;
      letter-spacing: 0.2em;
      box-shadow: 0px 5px 10px rgba($color_text_dark, 0.2);
      z-index: 5;

      a {
        position: relative;
        margin: auto 30px;
        color: $color_text_light;
        text-decoration: none;
      }

      #active {
        color: $color_text_dark;
        font-weight: 700;
        transition: 0.5s;
      }

      #underline {
        position: absolute;
        left: 0;
        height: 6px;
        width: 0;
        background: $color_primary_light_violett;
        bottom: 0px;
        transition: 0.5s;
        border-radius: 10px;
      }

      #header-logo {
        position: absolute;
        left: 80px;
        width: 10%;
      }
    }

    section {
      z-index: 2;
      position: relative;
      min-height: 85vh;
      padding-top: 200px;

      .content {
        margin: 0px 200px;
        margin-bottom: 0;

        /* GENERAL CONTENT SETTINGS */

        .intro {
          margin-top: 60px;
          margin-bottom: 10px;
          padding: 0;
          font-size: 25px;
          font-weight: 700;
          color: #bdc2c6;
        }

        .home_title {
          margin: 0;
          margin-bottom: 50px;
          padding: 0;
          font-size: 70px;
          font-weight: 700;
          color: #bdc2c6;
        }

        .section_title {
          margin: 0;
          margin-bottom: 50px;
          padding: 0;
          font-size: 50px;
          font-weight: 700;
        }

        .sub_title {
          margin-bottom: 80px;
          padding: 0;
          font-size: 20px;
          font-weight: 500;
          width: 50%;
        }

        .call_to_action {
          font-size: 16px;
          font-weight: 700;
          width: 50%;
          text-decoration: none;
          color: $color_primary_orange;
          margin-top: 20px;
        }

        .call_to_action_big {
          font-size: 28px;
          font-weight: 700;
          width: 50%;
          text-decoration: none;
          color: $color_primary_orange;
          margin-top: 20px;
        }

        /* HOME-SETTINGS */

        #home_image {
          position: absolute;
          height: 100%;
          width: 100%;
          min-height: 100vh;
          top: 0;
          right: 0;
          z-index: -1000;

        }

        /* ABOUT-SETTINGS */

        #about-container {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .about-container-item {
            width: 95%;

            .about-container-item-title {
              font-size: 25px;
              font-weight: 700;
            }

            .about-container-item-text {
              font-size: 16px;
              line-height: 1.5;
              text-align: justify;
              text-justify: inter-word;
              a {
                color: $color_primary_orange;
                text-decoration: none;
              }

              #about-image {
                width: 100%;
              }
            }
          }
        }

        /* CALL-FOR-PAPERS-SETTINGS */

        #callforpapers-container {
          display: flex;
          margin: auto;
          width: 100%;
          justify-content: space-between;

          .callforpapers-container-item {
            width: 95%;

            .callforpapers-container-item-title {
              font-size: 25px;
              font-weight: 700;
            }

            .callforpapers-container-item-text {
              font-size: 16px;
              line-height: 1.5;
              text-align: justify;
              text-justify: inter-word;

              #callforpapers-image {
                width: 100%;
              }
            }

            .callforpapers-container-item-list li{
              margin-bottom: 1%;                  
            }     
          }
        }

        /* SCHEDULE-SETTINGS */

        #schedule-container {
          display: flex;
          margin: auto;
          width: 100%;
          justify-content: space-between;

          .schedule-container-item {
            width: 95%;

            .schedule-container-item-title {
              font-size: 25px;
              font-weight: 700;
            }

            .schedule-container-item-text {
              font-size: 16px;
              line-height: 1.5;
              text-align: justify;
              text-justify: inter-word;

              #schedule-image {
                width: 100%;
              }
            }

            .schedule-container-item-list li{
              margin-bottom: 2%;
                  
            }            
          }
        }

         /* COMMITTEE-SETTINGS */

         #committee-container {
          display: flex;
          margin: auto;
          width: 100%;
          justify-content: space-between;

          .committee-container-item {
            width: 95%;

            .committee-container-item-title {
              font-size: 25px;
              font-weight: 700;
            }

            .committee-container-item-text {
              font-size: 16px;
              line-height: 1.5;
              text-align: justify;
              text-justify: inter-word;

              #committee-image {
                width: 100%;
              }
            }

            .committee-container-item-list li{
              margin-bottom: 1%;

              .mailcommittee {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                color: $color_primary_orange;
              }

              .namecommittee {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                color: $color_text_dark;
              
              }

                  
            }     
          }
        }
      }
    }

    /* FOOTER */
    footer {
      margin-top: 50px;
      background: $color_white;

      padding: 50px 100px 50px 100px;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      justify-items: normal;

      .contact {
        margin-left: 50px;
        .title {
          font-size: 25px;
          font-weight: 700;
        }

        .person {
          margin-top: 20px;
          .name {
            font-size: 15px;
            font-weight: 700;
          }

          a {
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            color: $color_primary_orange;
          }
        }
      }

      .disclaimer {
        margin: auto;

        .title {
          font-size: 25px;
          font-weight: 700;
        }

        .text {
          margin-top: 15px;
          font-size: 15px;
        }
      }

      img {
        margin-left: 50px;
        width: 100px;
      }
    }
  }
}
